{% extends "base.html" %}
{% block content %}

<div class="hero fade-up">
  <div class="hero-box">
    <div class="hero-inner">
      <div>
        <h1>My Appointments</h1>
        <p class="subtitle">All bookings with date & time. Cancel if still waiting/accepted.</p>
      </div>
      <div class="hero-actions">
        <a class="btn btn-outline" href="/">Book New</a>
      </div>
    </div>
  </div>
</div>

<div class="card pop" style="margin-top:16px;">
  <div class="card-pad">
    <h2>Appointments</h2>

    {% if appointments and appointments|length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Doctor</th>
            <th>Branch</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for a in appointments %}
          <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.doctor_name }}</td>
            <td>{{ a.branch }}</td>
            <td>{{ a.appt_date }}</td>
            <td>{{ a.appt_time }}</td>
            <td>
              {% if a.status == "WAITING" %}<span class="badge warn">WAITING</span>{% endif %}
              {% if a.status == "ACCEPTED" %}<span class="badge neutral">ACCEPTED</span>{% endif %}
              {% if a.status == "IN_PROGRESS" %}<span class="badge warn">IN PROGRESS</span>{% endif %}
              {% if a.status == "DONE" %}<span class="badge ok">DONE</span>{% endif %}
              {% if a.status == "REJECTED" %}<span class="badge danger">REJECTED</span>{% endif %}
              {% if a.status == "CANCELLED" %}<span class="badge danger">CANCELLED</span>{% endif %}
            </td>
            <td>
              {% if a.status in ["WAITING","ACCEPTED"] %}
                <a class="btn btn-danger" href="/patient/cancel/{{ a.id }}">Cancel</a>
              {% else %}
                <span class="small">—</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subtitle">No appointments yet.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
